

@model CRUDOperation.Models.EmployeeModel

<div class="modal-dialog modal-lg">
    <div class="modal-content popup_adj">
        <div class="modal-header" style="padding-bottom:35px">
            <h4 class="modal-title" id="myLargeModalLabel">Update Employee Type</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="CloseModalPopup('divEmployeePopUp')">×</button>
        </div>
        <div class="modal-body">
            <div class="row">

                <div class="col-md-12">
                    <div class="card card-body">

                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <form>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">First Name</label>
                                        <input type="text" id="txtFNamePopUp" class="form-control" value="@Model.FirstName" placeholder="FirstName">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Last Name</label>
                                        <input type="text" id="txtLNamePopUp" class="form-control" value="@Model.LastName" placeholder="LastName">
                                    </div>
                                   
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Salary</label>
                                        <input type="text" id="txtSalaryPopUp" class="form-control" value="@Model.Salary" placeholder="Description" onkeypress="return isDecimal(this,event)">
                                    </div>



                                    <button type="button" class="btn btn-success waves-effect waves-light m-r-10" id="btnSubmitPopUp" onclick="UpdateEmployeeType(@Model.EmployeeId)">Update</button>
                                    <div id="divMessagePopUp"></div>
                                 
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
<script type="text/javascript">
    $(document).ready(function () {
        try {
            $('.select2').select2({
                placeholder: "Select a Tax",
            });
        } catch (e) {

        }

    });
</script>